.business_hours_collapsible {
	display : none;
}

.workinghourswidget tr.business_hours_has_exception > td {
	padding-bottom : 0 !important;
}

.workinghourswidget tr > td {
	padding-bottom : 10px;
}

.workinghourswidget tr > th {
	padding-bottom  : 15px;
	text-decoration : underline;
	font-weight     : bold;
}

.business_hours_table_closed {
	text-align : center;
}

.business_hours_table_heading {
	text-align : center;
}

.business_hours_table_open {
	text-align : center;
}

.business_hours_table_close {
	text-align : center;
}

.business_hours_table_day_exception td {
	border-top : 0;
}

.business_hours_has_exception td.business_hours_table_open, .business_hours_has_exception td.business_hours_table_close, .business_hours_has_exception td.business_hours_table_closed {
	text-decoration : line-through;
}